.tab{
    width: 500px;
}
.tab-nav{
    display: flex;
}
.tab-nav-item{
    margin-right: 3px;
    background-color: violet;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
}
.tab-nav-item.is-active {
   background-color: blueviolet; 
   color: white;
}
.tab-contants{
    border: 1px solid #ccc;
    padding: 20px;
}
.tab-contents-item{
    display: none;
}
